<dynamic-view 
    #dv1
    [widgetList]="widgetList" 
    (componentInjectionRequested)="onComponentInjectionRequested($event)">
    <div *ngIf="selectedComponentId == 'NS'">
        <p>I know! There are 
            <input class="string-input" 
                #starsAmountInput
                type="number" 
                max="1000" 
                min="0" 
                [(ngModel)]="starsAmount" 
                (ngModelChange)="onStarsAmountChange()" /> 
            stars at the sky and I whant to see them all!</p>
    </div>
</dynamic-view>
