@import "utilities";
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
html, body {
    font-family: Tahoma;
    font-size: 13px;
}

h3 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 24px !important;
}
h4 {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}
select, input {
    font-family: Tahoma;
    font-size: 13px;
    width: 150px;
    border: 1px solid #cecece;
    outline: none;
}
p {
    margin-bottom: 8px;
}
.page-content {
    padding: 12px;
    width: 780px;
}

