.btn {
    background: #d8d8d8;
    border: none;
    color: #333;
    cursor: pointer;
    display: inline-block;
    line-height: 24px;
    outline: none;
    padding: 0 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;

    &.m-blank {
        background: none;
        color: #999;
        fill: #999;
        font-size: 13px;
        padding: 0;
        line-height: 16px;
        height: auto;
    }

    &.m-link,
    &.m-link * {
        color: #008ac7;
        fill: #008ac7;
        stroke: #008ac7;
        &:hover {
            text-decoration: underline;
        }
    }

}
.action-icon,
.action-icon * {
    color: #999;
    fill: #999;
    stroke: #999;
    &:hover,
    &:hover * {
        color: #008ac7;
        fill: #008ac7;
        stroke: #008ac7;
    }
}
.flex {
    display: flex;
    flex-direction: row;
}
.flex-growth {
    flex: 1;
}
.flex-center {
    align-items: center;
}
.vat {
    vertical-align: top !important;
}
.fs16 {
    font-size: 16px !important;
}
.ml8 {
    margin-left: 8px !important;
}
.ml20 {
    margin-left: 20px !important;
}
.mr20 {
    margin-right: 20px !important;
}
.mt32 {
    margin-top: 32px !important;
}